@media screen and (max-width: 640px) {
  .nav {
    width: 70px;
  }
}

@media screen and (max-width: 640px) {
  .nav__list {
    height: 90vh;
  }
}

@media screen and (max-width: $mobile) {
  .burger {
    height: 10vh;
  }
}

@media screen and (max-width:$mobile) {
  .burger__patty {
    transform: scale(0.8);
  }
}

@media screen and (max-width: $mobile) {
  .burger--active .burger__patty {
    transform: scale(0.8) rotate(90deg);
  }
}

@media screen and (min-width: $mobile) {

  .b-blue,
  .projects,
  .b-green,
  .b-yellow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    height: fit-content;
    height: -moz-fit-content;
    height: -webkit-fit-content;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    max-height: max-content;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
}

@media screen and (min-width: $mobile) {

  .home-content,
  .home-box-content,
  .about-content,
  .about-box-content,
  .projects,
  .contact-content {
    margin: 10px;
    padding: 10px;
    height: auto;
    min-width: 80vw;
    right: 0px;
    max-height: max-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: initial;

  }
}