@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
}

body {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background-position: center;
  background-size: cover;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.5s ease, color 0.5s ease, font-family 0.5s ease;
}
body.light {
  background-image: url("img/background.svg");
}

body.dark,
body.light {
  background-image: url("img/background-dark.svg");
}

body.light {
  background-color: #ffd700cc;
  color: #ff1493;
  font-family: "Poppins", sans-serif;
}

body.dark {
  background-color: #4b0082eb;
  color: #00ff00;
  font-family: "Montserrat", sans-serif;
}

label.switch {
  display: inline-block;
  height: 34px;
  margin-right: 10px;
  position: relative;
  width: 60px;
}

label.switch input {
  height: 0;
  opacity: 0;
  width: 0;
}

span.slider {
  background-color: #ccc;
  border-radius: 34px;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

span.slider:before {
  background-color: white;
  border-radius: 50%;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + span.slider {
  background-color: #2196f3;
}

input:checked + span.slider:before {
  transform: translateX(26px);
}

nav ul.navbar-nav {
  list-style: none;
  padding: 0;
}

nav ul.navbar-nav li {
  display: inline-block;
  margin-right: 20px;
}

nav ul.navbar-nav li a {
  text-decoration: none;
}

nav ul.navbar-nav li a:hover {
  color: #ff5500;
}

.navbar-toggler {
  border: none;
  outline: none;
  text-shadow: rgba(0, 0, 0, 0.3) 0px 0px 0px;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
  background: none;
  border: none;
  color: #ff5500;
  transition: color 0.3s ease;
}

section {
  border-radius: 25px;
  border: 2px solid #ff5500;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  height: fit-content;
  margin-top: 30px;
  min-width: 100%;
  padding: 20px;
  transition: all 0.3s ease;
}

section h2 {
  font-size: 2rem;
  margin-bottom: 40px;
  text-align: center;
}

section p {
  font-size: 1.25rem;
  margin-bottom: 40px;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  text-shadow: rgba(0, 0, 0, 0.4) 0 0 10px;
}

.hero .technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.hero .technologies li {
  margin: 10px;
}

.hero .technologies li i {
  font-size: 24px;
  margin-right: 10px;
}

.hero-text {
  color: #ff6600;
  font-size: 2rem;
  margin-bottom: 40px;
  text-align: center;
}

.hero-img {
  border-radius: 50%;
  height: 250px;
  margin-bottom: 20px;
  margin: 0 auto;
  width: 250px;
}

.hero-img:hover {
  border-radius: 0px;
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.hero-img img {
  border-radius: 50%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  width: 100%;
}

.hero-img img:hover {
  border-radius: 0px;
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.hero-img img:hover {
  object-fit: contain;
  object-position: center;
  transition: all 0.3s ease;
}

#resume-link,
#resume-close {
  text-decoration: none;
}

#resume-link:hover,
#resume-close:hover {
  color: #00ff00;
  transform: scale(1.1);
}

#resume-close {
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: auto;
}

#resume {
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 40px;
  margin: 0 auto;
  min-width: 100%;
  padding: 20px;
  text-align: center;
}

#resume .section-title {
  font-size: 2rem;
  text-align: center;
}

#resume .resume-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

#resume .resume-content embed {
  height: fit-content;
  max-width: 800px;
  width: 100%;
}

#resume .download-link:hover {
  background-color: #ff5500;
}

@keyframes wobble {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }
}

.section {
  margin-bottom: 0.5rem;
}
.section#projects {
  padding: 100px 0;
}

.section#projects h2 {
  font-size: 32px;
  margin-bottom: 40px;
  text-align: center;
}

.section#projects .row .col-md-4 .card.project {
  height: 100%;
  width: 100%;
  margin-bottom: 30px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.section#projects .row .col-md-4 .card.project img {
  border-radius: 10px;
  height: 50%;
  max-width: 100%;
}

.section#projects .row .col-md-4 .card.project h3 {
  font-size: 24px;
  margin-top: 20px;
}

.section#projects .row .col-md-4 .card.project p {
  font-size: 18px;
  margin-top: 10px;
}

.section#projects .row .col-md-4 .card.project a {
  display: block;
  margin-top: 20px;
  text-decoration: none;
}

.section#projects .row .col-md-4 .card.project a:hover {
  text-decoration: none;
}

.section#contact {
  padding: 100px 0;
}

.section#contact .contact-form {
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
}

.section#contact .contact-form form fieldset {
  margin-bottom: 20px;
}

.section#contact .contact-form form fieldset label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.section#contact .contact-form form fieldset input[type="text"],
.section#contact .contact-form form fieldset input[type="email"],
.section#contact .contact-form form fieldset textarea {
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}

.section#contact .contact-form form fieldset textarea {
  resize: vertical;
}

.section#contact .contact-form form button {
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 20px;
}

.section#contact .contact-form form button:hover {
  background-color: #ff5500;
}

footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
}

footer .container .row {
  align-items: center;
  display: flex;
}

footer .container .row .footer .soc-link {
  font-size: 24px;
  margin-right: 20px;
}

footer .container .row .copyright {
  flex-grow: 1;
  text-align: right;
}

footer .container .row .copyright p {
  margin: 0;
}

.project-card {
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  transition: transform 0.3s ease;
}

.project-card img {
  border-radius: 10px;
  max-width: 100%;
}

.project-info {
  text-align: center;
}

.project-info h2 {
  font-size: 24px;
  margin-top: 10px;
}

.project-info p {
  margin: 10px 0;
}

.btn {
  background-color: #333;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #555;
}

.fab.fa-linkedin-in {
  color: #0077b5;
}

.fab.fa-github {
  color: #ffffff;
}

i.fab:hover {
  color: #ffffff;
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.3s ease;
}

body.dark #portfolio-bg {
  filter: invert(100%) sepia(100%) saturate(10000%) hue-rotate(180deg);
  filter: invert(100%) sepia(100%) saturate(10000%) hue-rotate(180deg);
}

.animate__wobble {
  -webkit-animation-name: wobble;
  animation-name: wobble;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
