/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
 height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
} 

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  transition: background-color 0.5s ease, color 0.5s ease, font-family 0.5s ease;
  min-height: 100vh;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='600' preserveAspectRatio='none' viewBox='0 0 1440 600'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1061%26quot%3b)' fill='none'%3e%3crect width='1440' height='600' x='0' y='0' fill='rgba(255%2c 215%2c 0%2c 1)'%3e%3c/rect%3e%3cg mask='url(%26quot%3b%23SvgjsMask1062%26quot%3b)'%3e%3cpath d='M1175 75L1425 75' stroke-width='8.33' stroke='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M1162.5 75 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM1412.5 75 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M675 325L725 375L725 425L875 575L1425 575' stroke-width='8.33' stroke='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M662.5 325 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM1412.5 575 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M1425 425L1425 525' stroke-width='8.33' stroke='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M1412.5 425 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM1412.5 525 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M225 325L25 125L25 25' stroke-width='8.33' stroke='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M212.5 325 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM12.5 25 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M825 475L825 375L1175 25L1425 25' stroke-width='8.33' stroke='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M812.5 475 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM1412.5 25 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M1025 525L1025 475L925 375L925 325L1075 175L1425 175' stroke-width='8.33' stroke='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M1012.5 525 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM1412.5 175 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M75 425L25 375L25 175' stroke-width='8.33' stroke='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M62.5 425 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM12.5 175 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M1125 525L1125 225' stroke-width='8.33' stroke='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M1112.5 525 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM1112.5 225 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M625 425L775 575L825 575' stroke-width='8.33' stroke='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M612.5 425 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM812.5 575 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M475 375L625 375L675 425' stroke-width='8.33' stroke='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M462.5 375 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM662.5 425 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M1025 125L925 225L175 225L75 125' stroke-width='8.33' stroke='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M1012.5 125 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM62.5 125 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M1275 425L1275 275L1325 225L1425 225' stroke-width='8.33' stroke='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M1262.5 425 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM1412.5 225 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M1325 125L1125 125' stroke-width='8.33' stroke='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M1312.5 125 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM1112.5 125 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M575 575L625 525L675 525L725 575' stroke-width='8.33' stroke='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M562.5 575 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM712.5 575 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M575 175L925 175L1075 25L1125 25' stroke-width='8.33' stroke='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M562.5 175 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM1112.5 25 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M525 175L175 175L75 75L75 25' stroke-width='8.33' stroke='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M512.5 175 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM62.5 25 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M425 125L175 125L125 75L125 25' stroke-width='8.33' stroke='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M412.5 125 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM112.5 25 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M925 125L825 25L175 25' stroke-width='8.33' stroke='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M912.5 125 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM162.5 25 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M975 25L875 25' stroke-width='8.33' stroke='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M962.5 25 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM862.5 25 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M875 275L775 375L775 425' stroke-width='8.33' stroke='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M862.5 275 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM762.5 425 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M1325 425L1275 475L1275 525' stroke-width='8.33' stroke='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M1312.5 425 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM1262.5 525 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M125 475L125 575' stroke-width='8.33' stroke='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M112.5 475 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM112.5 575 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M175 375L175 325L75 225' stroke-width='8.33' stroke='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M162.5 375 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM62.5 225 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M725 325L675 275L225 275' stroke-width='8.33' stroke='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M712.5 325 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM212.5 275 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M425 425L525 525L525 575' stroke-width='8.33' stroke='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M412.5 425 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM512.5 575 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M275 425L125 425' stroke-width='8.33' stroke='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M262.5 425 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM112.5 425 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M425 325L275 475L275 575' stroke-width='8.33' stroke='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M412.5 325 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM262.5 575 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M1075 325L975 325' stroke-width='8.33' stroke='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M1062.5 325 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM962.5 325 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M1325 375L1375 325L1375 275' stroke-width='8.33' stroke='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M1312.5 375 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM1362.5 275 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M625 125L875 125' stroke-width='8.33' stroke='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M612.5 125 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM862.5 125 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M875 475L975 475' stroke-width='8.33' stroke='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M862.5 475 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM962.5 475 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M525 125L575 125L625 75L825 75' stroke-width='8.33' stroke='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M512.5 125 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM812.5 75 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M1225 325L1225 275L1175 225' stroke-width='8.33' stroke='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M1212.5 325 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM1162.5 225 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M1075 525L1075 425' stroke-width='8.33' stroke='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M1062.5 525 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM1062.5 425 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M225 75L325 75' stroke-width='8.33' stroke='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M212.5 75 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM312.5 75 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M325 475L325 575' stroke-width='8.33' stroke='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3cpath d='M312.5 475 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0zM312.5 575 a12.5 12.5 0 1 0 25 0 a12.5 12.5 0 1 0 -25 0z' fill='rgba(255%2c 20%2c 147%2c 1)'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1061'%3e%3crect width='1440' height='600' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cmask id='SvgjsMask1062'%3e%3crect width='1440' height='600' fill='white'%3e%3c/rect%3e%3cpath d='M1168.75 75 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM1418.75 75 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M668.75 325 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM1418.75 575 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M1418.75 425 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM1418.75 525 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M218.75 325 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM18.75 25 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M818.75 475 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM1418.75 25 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M1018.75 525 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM1418.75 175 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M68.75 425 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM18.75 175 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M1118.75 525 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM1118.75 225 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M618.75 425 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM818.75 575 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M468.75 375 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM668.75 425 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M1018.75 125 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM68.75 125 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M1268.75 425 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM1418.75 225 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M1318.75 125 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM1118.75 125 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M568.75 575 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM718.75 575 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M568.75 175 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM1118.75 25 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M518.75 175 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM68.75 25 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M418.75 125 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM118.75 25 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M918.75 125 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM168.75 25 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M968.75 25 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM868.75 25 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M868.75 275 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM768.75 425 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M1318.75 425 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM1268.75 525 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M118.75 475 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM118.75 575 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M168.75 375 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM68.75 225 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M718.75 325 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM218.75 275 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M418.75 425 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM518.75 575 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M268.75 425 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM118.75 425 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M418.75 325 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM268.75 575 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M1068.75 325 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM968.75 325 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M1318.75 375 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM1368.75 275 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M618.75 125 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM868.75 125 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M868.75 475 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM968.75 475 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M518.75 125 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM818.75 75 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M1218.75 325 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM1168.75 225 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M1068.75 525 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM1068.75 425 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M218.75 75 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM318.75 75 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M318.75 475 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM318.75 575 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='black'%3e%3c/path%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  background-position: center;
  
  /* Add backdrop filter with desired effect */
  backdrop-filter: blur(8px); /* Adjust the blur value as needed */
  -webkit-backdrop-filter: blur(8px); /* For Safari */
}


/* Define light and dark themes */
.light {
  background-color: rgba(255, 215, 0, 0.7);
  color: #ff1493;
  font-family: "Poppins", sans-serif;
}

.light #portfolio-bg {
  stroke: #ff1493;
  fill: #ffd700;
}

.dark {
  background-color: rgba(75, 0, 130, 0.7);
  color: #00ff00;
  font-family: "Montserrat", sans-serif;
}

.dark #portfolio-bg {
  filter: invert(100%) sepia(100%) saturate(10000%) hue-rotate(180deg);
}



/* Style the theme toggle switch */
label.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 10px;
}

label.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

span.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

span.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked+span.slider {
  background-color: #2196f3;
}

input:checked+span.slider:before {
  transform: translateX(26px);
}

#backToTopBtn {
  height: 50px;
  width: 50px;
  position: fixed;
  top: 80vh;
  right: 20px;
  border: none;
  outline: none;
  border-radius: 50%;

  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

nav ul.navbar-nav {
  list-style: none;
  padding: 0;
}

nav ul.navbar-nav li {
  display: inline-block;
  margin-right: 20px;
}

nav ul.navbar-nav li a {
  text-decoration: none;

}

nav ul.navbar-nav li a:hover {
 color: #ff5500;
} 

.navbar-toggler {
  border: none;

  outline: none;
  text-shadow: rgba(0, 0, 0, 0.3) 0px 0px 0px;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
  border: none;
  background: none;
  color: #ff5500;
  transition: color 0.3s ease;
}

section {
  border: 2px solid #ff5500;
  border-radius: 25px;
  margin-top: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
  min-width: 100%;
  height: fit-content;
  padding: 20px;
}

section h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 40px;

}

section p {
  font-size: 1.25rem;

  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;

  max-width: 800px;
  margin: 0 auto;
  text-shadow: rgba(0, 0, 0, 0.4) 0 0 10px;
}

.hero .technologies {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hero .technologies li {
  margin: 10px;
}

.hero .technologies li i {
  font-size: 24px;
  margin-right: 10px;
}

.hero .technologies li i.fab {}

.hero-text {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 40px;
  color: #ff6600;
}

.hero-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.hero-img:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
  border-radius: 0px;
}

.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}

.hero-img img:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
  border-radius: 0px;
}

.hero-img img:hover {
  object-fit: contain;
  object-position: center;
  transition: all 0.3s ease;
}

#resume-link,
#resume-close {
  text-decoration: none;

}

#resume-link:hover,
#resume-close:hover {
  color: #00FF00;
  transition: all 0.3s ease;
  transform: scale(1.1);
}

#resume-close {
  cursor: pointer;
  position: absolute;
  top: auto;
  right: 20px;
  border-radius: 5px;
}

#resume-close:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

#resume {
  min-width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 20px;
  text-align: center;
}

#resume .section-title {
  font-size: 2rem;
  text-align: center;
}

#resume .resume-content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#resume .resume-content embed {
  width: 100%;
  height: fit-content;
  max-width: 800px;
}

#resume .download-link {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;

  font-size: 1.25rem;
}

#resume .download-link:hover {
  background-color: #ff5500;
}

@-webkit-keyframes wobble {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes wobble {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  45% {
    -webkit_transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.animate__wobble {
  -webkit-animation-name: wobble;
  animation-name: wobble;
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

.section#projects {
  padding: 100px 0;
}

.section#projects h2 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 40px;
}

.section#projects .row .col-md-4 .card.project {
  text-align: center;
  padding: 20px;
  margin-bottom: 30px;
  height: 80%;
}

.section#projects .row .col-md-4 .card.project img {
  max-width: 100%;
  height: 50%;
}

.section#projects .row .col-md-4 .card.project h3 {
  font-size: 24px;
  margin-top: 20px;
}

.section#projects .row .col-md-4 .card.project p {
  font-size: 18px;
  margin-top: 10px;

}

.section#projects .row .col-md-4 .card.project a {
  display: block;
  margin-top: 20px;
  text-decoration: none;

}

.section#projects .row .col-md-4 .card.project a:hover {
  text-decoration: none;
}

.section#contact {
  padding: 100px 0;
}

.section#contact .contact-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;

  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.section#contact .contact-form form fieldset {
  margin-bottom: 20px;
}

.section#contact .contact-form form fieldset label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.section#contact .contact-form form fieldset input[type="text"],
.section#contact .contact-form form fieldset input[type="email"],
.section#contact .contact-form form fieldset textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

.section#contact .contact-form form fieldset textarea {
  resize: vertical;
}

.section#contact .contact-form form button {

  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

.section#contact .contact-form form button:hover {
  background-color: #ff5500;
}

footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
}

footer .container .row {
  display: flex;
  align-items: center;
}

footer .container .row .footer .soc-link {
  font-size: 24px;
  margin-right: 20px;

}

footer .container .row .copyright {
  flex-grow: 1;
  text-align: right;
}

footer .container .row .copyright p {
  margin: 0;
}

.section#projects .row .col-md-4 .card.project {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.section#projects .row .col-md-4 .card.project:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.animate__fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-delay: 0.25s;
}

@-webkit-keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

.animate__fadeOutRight {
  -webkit-animation-name: fadeOutRight;
  animation-name: fadeOutRight;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes jackInTheBox {
  from {
    opacity: 0;
    -webkit-transform: scale(0.1) rotate(30deg);
    transform: scale(0.1) rotate(30deg);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
  }

  50% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  70% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.animate__jackInTheBox {
  -webkit-animation-name: jackInTheBox;
  animation-name: jackInTheBox;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-iteration-count: initial;
  -webkit-animation-iteration-count: initial;
  animation-delay: 0.25s;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.animate__pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

/* Styles for the theme toggle switch */
label.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 10px;
}

label.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

span.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

span.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked+span.slider {
  background-color: #2196f3;
}

input:checked+span.slider:before {
  transform: translateX(26px);
}

#backToTopBtn {
  height: 50px;
  width: 50px;
  position: fixed;
  top: 80vh;
  right: 20px;
  border: none;
  outline: none;
  border-radius: 50%;
  z-index: 100;
  background-color: #ff5500;
  color: #fff;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

nav ul.navbar-nav {
  list-style: none;
  padding: 0;
}

nav ul.navbar-nav li {
  display: inline-block;
  margin-right: 20px;
}

nav ul.navbar-nav li a {
  text-decoration: none;
}

.navbar-toggler {
  border: none;
  background: none;
  transition: color 0.3s ease;
  outline: none;
  text-shadow: rgba(0, 0, 0, 0.3) 0px 0px 0px;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
  border: none;
  background: none;
  transition: color 0.3s ease;
}

section {
  border: 2px solid #ff5500;
  border-radius: 25px;
  margin-top: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
  min-width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px;
}

section h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 40px;
}

section p {
  font-size: 1.25rem;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  max-width: 800px;
  margin: 0 auto;
  text-shadow: rgba(0, 0, 0, 0.4) 0 0 10px;
}

.hero .technologies {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hero .technologies li {
  margin: 10px;
}

.hero .technologies li i {
  font-size: 24px;
  margin-right: 10px;
}

.hero .technologies li a {
  text-decoration: none;
}

.hero-text {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 40px;
}

.hero-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.hero-img:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
  border-radius: 0px;
}

.hero-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
  border-radius: 50%;
}

.hero-img img:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
  border-radius: 0px;
}

.hero-img img:hover {
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
  transition: all 0.3s ease;
}

#resume-link,
#resume-close {
  text-decoration: none;
  color: #fff;
  font-size: 1.25rem;
}

#resume-link:hover,
#resume-close:hover {
  transition: all 0.3s ease;
  transform: scale(1.1);
}

#resume-close {
  cursor: pointer;
  position: absolute;
  top: auto;
  right: 20px;
  border-radius: 5px;
}

#resume-close:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

#resume {
  min-width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 20px;
  text-align: center;
}

#resume .section-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 40px;
}

#resume .resume-content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#resume .resume-content embed {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 800px;
}

#resume .download-link {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.25rem;
  color: #fff;
  background-color: #ff5500;
}

#resume .download-link:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
  background-color: #fff;
  color: #ff5500;
}

@keyframes wobble {
  from {
    transform: translate3d(0, 0, 0);
  }

  15% {
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  30% {
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  45% {
    -webkit_transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  60% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  75% {
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.animate__wobble {
  animation-name: wobble;
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

.section#projects {
  padding: 100px 0;
}

.section#projects h2 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 40px;
}

.section#projects .row .col-md-4 .card.project {
  text-align: center;
  padding: 20px;
  margin-bottom: 30px;
  height: 80%;
}

.section#projects .row .col-md-4 .card.project img {
  max-width: 100%;
  height: 50%;
}

.section#projects .row .col-md-4 .card.project h3 {
  font-size: 24px;
  margin-top: 20px;
}

.section#projects .row .col-md-4 .card.project p {
  font-size: 18px;
  margin-top: 10px;
}

.section#projects .row .col-md-4 .card.project a {
  display: block;
  margin-top: 20px;
  text-decoration: none;
}

.section#projects .row .col-md-4 .card.project a:hover {
  text-decoration: none;
}

.section#contact {
  padding: 100px 0;
}

.section#contact .contact-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.section#contact .contact-form form fieldset {
  margin-bottom: 20px;
}

.section#contact .contact-form form fieldset label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.section#contact .contact-form form fieldset input[type=text],
.section#contact .contact-form form fieldset input[type=email],
.section#contact .contact-form form fieldset textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

.section#contact .contact-form form fieldset textarea {
  resize: vertical;
}

.section#contact .contact-form form button {
  color: #fff;
  background-color: #ff5500;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

.section#contact .contact-form form button:hover {
  background-color: #fff;
  color: #ff5500;
}

footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
}

footer .container .row {
  display: flex;
  align-items: center;
}

footer .container .row .footer .soc-link {
  font-size: 24px;
  margin-right: 20px;
  text-decoration: none;
  transition: all 0.3s ease;
}

footer .container .row .copyright {
  flex-grow: 1;
  text-align: right;
}

footer .container .row .copyright p {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.section#projects .row .col-md-4 .card.project {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.section#projects .row .col-md-4 .card.project:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.animate__fadeInLeft {
  animation-name: fadeInLeft;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-delay: 0.25s;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.animate__pulse {
  animation-name: pulse;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

/* Styles for the theme toggle switch */
label.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 10px;
}

label.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

span.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

span.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked+span.slider {
  background-color: #2196f3;
}

input:checked+span.slider:before {
  transform: translateX(26px);
}

.fab.fa-facebook-f {
  color: #3b5998;
}

.fab.fa-instagram {
  color: #e4405f;
}


/* Project card styles */
.project-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px;
    transition: transform 0.3s ease;
}

.project-card img {
    max-width: 100%;
    border-radius: 10px;
}

.project-info {
    text-align: center;
}

.project-info h2 {
    margin-top: 10px;
    font-size: 24px;
}

.project-info p {
    margin: 10px 0;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    background-color: #555;
}


.fab.fa-linkedin-in {
  color: #0077b5;
}

.fab.fa-github {
  color: #ffffff;
}

i.fab:hover {
  color: #ffffff;
  transition: all 0.3s ease;
  transform: scale(1.1);
  cursor: pointer;

}
/* Apply filter for Dark Theme */
body.dark #portfolio-bg {
    filter: invert(100%) sepia(100%) saturate(10000%) hue-rotate(180deg);
}
